services:
    sio_test:
        user: app
        build:
            context: .
            args:
                USER_ID: ${USER_ID:-1000}
        ports:
            - "8337:8337"
        volumes:
            - .:/app:rw
        environment:
            - APP_ENV=dev

    db:
        image: postgres:13
        restart: always
        environment:
            POSTGRES_DB: test_task
            POSTGRES_USER: test_task
            POSTGRES_PASSWORD: test_task
        ports:
            - "5432:5432"
        volumes:
            - pg_data:/var/lib/postgresql/data

volumes:
    pg_data: